// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-tertiary {
  background-color: color("orange");
}
.text-gray {
  color: color("gray");
}
.text-tertiary {
  color: color("orange");
}

// Logo
.logo-text {
  font-size: 3rem;
}
.logo-tagline {
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.35);
}
