// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Buttons
@import 'buttons';

.bg-tertiary {
  background-color: color("orange");
}
.text-gray {
  color: color("gray");
}
.text-tertiary {
  color: color("orange");
}

// Logo
.logo-text {
  font-size: 2rem;
}
.logo-tagline {
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.35);
}

@include media-breakpoint-up(sm) {
  .logo-text {
    font-size: 3rem;
  }
}

.fa-facebook-f {
  width: 39px !important;
  text-align: center !important;
}
.modal-container {
  border-radius: 11px !important;
}

.greeting-message {
  @include media-breakpoint-up(md) {
    blockquote {
      margin: -0.5rem 0;
    }
  }

  span {
    font-size: 15px;
    color: #5c5c5c;
  }
}
